<html>
    <head>
        <title>Blog Django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django</a></h1>
        </div>

        <div>
            <p>publicado: 04.03.2025, 21:38</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. </p>
        </div>

        <div>
            <p>publicado: 04.03.2025, 21:40</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível.</p>
        </div>
    </body>
</html>